/* ESTILOS USANDO GRID ÃREAS y MOBILE FIRST */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #e9ecf4;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
  width: 90%;
  min-height: 100vh;
  max-width: 1000px;
  margin: 2rem auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header"
    "main"
    "sidebar"
    "widget1"
    "widget2"
    "footer";
}

.grid-container > article,
.grid-container .header,
.grid-container .main,
.grid-container .sidebar,
.grid-container .footer {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
}

.grid-container .header {
  background-color: #12203e;
  color: #fff;
  text-align: center;
  grid-area: header;
}

.grid-container .main {
  grid-area: main;
}

.main > p {
  margin-bottom: 2rem;
}

.grid-container .sidebar {
  background-color: #faa43d;
  min-height: 20rem;
  grid-area: sidebar;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container .widget-1,
.grid-container .widget-2 {
  background-color: #55a8fd;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container .widget-1 {
  grid-area: widget1;
}

.grid-container .widget-2 {
  grid-area: widget2;
}

.grid-container .footer {
  background-color: #12203e;
  color: #fff;
  text-align: center;
  grid-area: footer;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "header header"
      "main main"
      "sidebar sidebar"
      "widget1 widget2"
      "footer footer";
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "header header header"
      "main main sidebar"
      "widget1 widget2 sidebar"
      "footer footer footer";
  }
}
